*{
    padding: 0;
    margin: 0;
    font-family: 'Times new roman', Times;
}
body{
    height: 100vh;
    background: #519fb3;
    padding:30 px;
}
.container{
    height: 100%;
    background: rgb(187, 137, 114);
    padding: 30px;
}
header{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: rgb(127, 122, 197);
    border-radius: 8px;
}